.skill {
    padding: 0 0 50px 0;
    position: relative;
    background-position: top center;
  }
  
  .skill-bx {
    background: #0e0d0d;
    border-radius: 64px;
    text-align: center;
    padding: 30px 40px;
    margin-top: -60px;
    box-shadow: 5px 1px 15px #1e1d1d;
  }
  
  .skill h2 {
    font-size: 45px;
    font-family:'Times New Roman', Times, serif; 
  }
  
  .skill p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
  }
  
  .skill-tabs {
    width: 75%;
    position: relative;
    margin: 20px auto 30px auto;
    display: flex;
    justify-content: center;
  }
  
  .skills-btn {
    font-weight: 700;
    color: #fff;
    padding: 14px 30px;
    font-size: 18px;
    margin-left: 15px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
  }
  
  .skills-btn:hover {
    color: #121212;
    background-color: #fff;
    cursor: pointer;
    border-radius: 40px;
  }
  
  .skill-active{
    color: #121212;
    background-color: #fff;
    cursor: pointer;
    border-radius: 40px;
  }

  .skill-slider {
    width: 80%;
    margin: 10px auto 0 auto;
    position: relative;
    padding: 10px;
  }
  
  .skill-slider .item img {
    width: 30%;
    margin: 0 auto 15px auto;
  }