.about{
    position: relative;
    background-position: top center;
    background-size: cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 223vh;
    /* background-color: red; */
}

.about-heading{
    font-size: 55px;
    font-weight: 100;
    font-family:'Times New Roman', Times, serif
}

.underline{
    height : 2px;
    width : 140px;
    background-color: #bc9466;
}

.about-main {
    display: flex;
    gap: 10px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .about-main > div {
    flex: 1; 
    padding: 10px; 
    box-sizing: border-box; 
  }

.education h2{
    font-size: 35px;
    font-family:'Times New Roman', Times, serif
}

.about-me{
    margin-top: 50px;
    letter-spacing: 0.05em; 
    line-height: 1.6
}

@media (max-width:770px) {
    .about{
        width : 120vh;
    }
  }
  
@media (max-width:500px) {
    .about{
        width : 57vh;
        height: 1500px;
    }

    .about-main{
        flex-direction: column;
    }

}
  