.contact{
    padding:10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    margin-top: 20px;
  }
  .contactImage{
    height:350px;
    width: 350px;
  }
  
  .contact h1{
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    margin: 20px;
  }
  
  
  .contactUs{
    display: flex;
    flex-direction: column;
    gap:20px;
  }
  
  .contactUs h6{
    text-decoration: underline;
    cursor: pointer;
  }
